body {
  background-color: #273238;
}

h1 {
  color: #698593;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 60px;
  background-color: rgb(226, 226, 226);
}



p {
  color: rgb(226, 226, 226);
  text-align: justify;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 14px;
}

.color-01 {
  color: #e5cbbe;
  font-family: Impact, Charcoal, sans-serif;
  font-style: italic;
}

.color-h202 {
  color: #a1c1cb;
  font-family: Impact, Charcoal, sans-serif;
  font-style: italic;
}

.color-h203 {
  color: #bcbdbf;
  font-family: Impact, Charcoal, sans-serif;
  font-style: italic;
}

.color-h204 {
  color: #8d94a1;
  font-family: Impact, Charcoal, sans-serif;
  font-style: italic;
}

.color-h205 {
  color: #b2b2aa;
  font-family: Impact, Charcoal, sans-serif;
  font-style: italic;
}

.margin-izquierda {
  margin-left: 30px;
}

.padding {
  background-color: black;
  padding-right: 0px;
  padding-left: 1px;
  padding-bottom: 0px;
  padding-top: 1px;
}

.borde {
  border: #f0ded9;
  border-style: solid;
  border-width: 5px;
}

.borde-celu {
  border: #afcbd3;
  border-style: solid;
  border-width: 5px;
}

.padding-celu {
  background-color: black;
  padding-right: 0px;
  padding-left: 1px;
  padding-bottom: 1px;
  padding-top: 0px;
}

.borde-consola {
  border: #bcbdbf;
  border-style: solid;
  border-width: 5px;
}

.padding-consola {
  background-color: black;
  padding-right: 0px;
  padding-left: 1px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.borde-home {
  border: #8c93a0;
  border-style: solid;
  border-width: 5px;
}

.padding-home {
  background-color: black;
  padding-right: 0px;
  padding-left: 1px;
  padding-bottom: 0px;
  padding-top: 1px;
}

.borde-tele {
  border: #b2b2aa;
  border-style: solid;
  border-width: 5px;
}

.padding-tele {
  background-color: black;
  padding-right: 0px;
  padding-left: 1px;
  padding-bottom: 1px;
  padding-top: 0px;
}